/* animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  50% {
    transform: translateX(5px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  30% {
    opacity: 0; }
  50% {
    transform: translateX(-5px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  60% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-weight: 300;
  font-family: Lato;
  color: #444;
  padding: 25px; }

main {
  line-height: 32px; }

.heading-primary {
  margin-bottom: 60px;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 85px;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: .8s; }
  .heading-primary--sub {
    display: block;
    letter-spacing: 10px;
    animation-name: moveInRight;
    animation-timing-function: ease-out;
    animation-duration: 1.8s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(-1deg) skewX(-10deg); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center;
  backface-visibility: hidden; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border: 5px solid #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .1s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      transform: rotate(5deg); }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      transform: rotate(-10deg); }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      transform: rotate(10deg); }
    .composition__photo:hover {
      transform: scaleY(1.05) scaleX(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid rgba(255, 255, 255, 0.6); }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.btn:hover {
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #444;
  border-radius: 50px;
  font-size: 16px; }

.btn--green {
  background-color: #55c57a;
  color: #fff;
  border-radius: 50px;
  font-size: 16px; }

.btn--animation {
  animation: moveInBottom 1.5s ease-in-out .3s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 5px 10px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: scale(1.01); }

.card {
  perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__side {
    height: 51rem;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/card-3.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/card-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/card-1.jpg); }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: .2rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)); }
  .card__detail {
    padding: 3rem; }
    .card__detail ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__detail ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .5rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: 1px solid #f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .card__price-value {
    font-size: 6rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered; }

.row {
  width: 102rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-6 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-3-offset-9 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-12 {
    width: calc((100% - 11 * 6rem) / 12); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero-opt.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero-2.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
