// background color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;

// text color
$color-grey-dark: #444;
$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 102rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;