.row {
	width: $grid-width;
	margin: 0 auto;

	&:not(:last-child) {
		margin-bottom: $gutter-vertical;
	}
	
	@include clearfix;
	
	[class^="col-"] {
		float: left;

		&:not(:last-child) {
			margin-right: $gutter-horizontal;
		}
	}

	.col-6 {
		width: calc((100% - #{$gutter-horizontal}) / 2);
	}
	.col-3 {
		width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
	}
	.col-3-offset-9 {
		width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
	}
	.col-4 {
		width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
	}
	.col-12 {
		width: calc((100% - 11 * #{$gutter-horizontal}) / 12);
	}
}