.btn {
	&:link,
	&:visited {
		text-decoration: none;
		padding: 15px 40px;
		display: inline-block;
		transition: all .2s;
		position: relative; 
	}
	&:hover {
		box-shadow: 0 5px 3px rgba($color-black,.2);
		transform: translateY(-1px);
		// &:after {
		// 	transform: scaleX(1.1) scaleY(1.2);
		// 	opacity: 0;
		// }
	}
	&:active {
		transform: translateY(1px);
		box-shadow: 0 1px 1px rgba($color-black,.2);
	}
	&--white {
		background-color: #fff;
		color: $color-grey-dark;
		border-radius: 50px;
		font-size: 16px;
		// backface-visibility: hidden;
		
		// &:after {
		// 	background-color: #fff;
		// }
	}
	&--green {
		background-color: $color-primary;
		color: $color-white;
		border-radius: 50px;
		font-size: 16px;
		
	}
	// &:after {
	// 	content: '';
	// 	display: inline-block;
	// 	height: 100%;
	// 	width: 100%;
	// 	border-radius: 50px;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: -1;
	// 	transition: all .6s;
	// }
	&--animation {
		animation: moveInBottom 1.5s ease-in-out .3s;
		animation-fill-mode: backwards;
	}
}
.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 5px 10px;
		transition: all .2s;
	}
	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black,.2);
	}
}