.card {
	perspective: 150rem;
	position: relative;
	height: 51rem;

	&__side {
	height: 51rem;
	font-size: 2rem;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 3px;
	// overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

		&--front {
			background-color: $color-white;
		}
		&--back {
			transform: rotateY(180deg);
			
			&-1 {
				background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
			}
			&-2 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
			&-3 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}
		}
	}
	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}
	// frontside
	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: soft-light;
		-webkit-clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);

		&--1 {
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
			   url(../img/card-3.jpg);
		}
		&--2 {
			background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
			url(../img/card-2.jpg);
		}
		&--3 {
			background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
			url(../img/card-1.jpg);
		}
	}
	
	&__heading {
		font-size: 2.8rem;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 15rem;
		right: 2rem;
		width: 60%;
	}
	&__heading-span {
		padding: .2rem 1.5rem;
		-webkit-box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .9),
				rgba($color-secondary-dark, .9));
		}
		&--2 {
			background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .9),
				rgba($color-tertiary-dark, .9));
		}
		&--3 {
			background-image: linear-gradient(to right bottom, rgba($color-primary-light, .9),
				rgba($color-primary-dark, .9));
		}
	}
	&__detail {
		padding: 3rem;

		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: .5rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-1;
				}
			}
		}
	}
	// back side
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}
	&__price-box {
		margin-bottom: 8rem;
		color: $color-white;
	}
	&__price-only {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
	&__price-value {
		font-size: 6rem;
	}
}