.composition {
	position: relative;

	&__photo {
		width: 55%;
		border: 5px solid $color-white;
		box-shadow: 0 1.5rem 4rem 	rgba($color-black, .5);
		border-radius: 2px;
		position: absolute;
		z-index: 10;
		transition: all .1s;
		// outline-offset: .5rem;

		&--p1 {
			left: 0;
			top: -2rem;
			transform: rotate(5deg);
		}
		&--p2 {
			right: 0;
			top: 2rem;
			transform: rotate(-10deg);
		}
		&--p3 {
			left: 20%;
			top: 10rem;
			transform: rotate(10deg);
		}
		&:hover {
			transform: scaleY(1.05) scaleX(1.05);
			box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
			z-index: 20;
			outline: 1.5rem solid rgba($color-white, .6);
		}
	}

	// &:hover &__photo:not(:hover) {
	// 	transform: scale(.95);
	// }
}