.feature-box {
	background-color: rgba($color-white, .8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
	transition: transform .2s;

	&__icon {
		// display: inline-block;
		// background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
		// -webkit-background-clip: text;
		// color: transparent;
		font-size: 6rem;
		margin-bottom: .5rem;
	}
	&:hover {
		transform: scale(1.01);
	}
}