/* animation */
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	30% {
		opacity: 0;
	}
	50% {
		transform: translateX(-5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}