body {
	font-size: 12px;
	font-weight: 300;
	font-family: Lato;
	color: $color-grey-dark;
	padding: 25px;
} 
main {
	line-height: 32px;
}
.heading-primary {
	margin-bottom: 60px;
	color: $color-white;

	&--main {
		display: block;
		font-size: 85px;
		letter-spacing: 10px;
		animation-name: moveInLeft;
		animation-timing-function: ease-in-out;
		animation-duration: .8s;
	}
	&--sub {
		display: block;
		// font-size: 20px;
		letter-spacing: 10px;
		animation-name: moveInRight ;
		animation-timing-function: ease-out;
		animation-duration: 1.8s;
	}
}
.heading-secondary {
	 font-size: 3.5rem;
	 text-transform: uppercase;
	 display: inline-block;
	 background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	 -webkit-background-clip: text;
	 color: transparent;
	 letter-spacing: 2px;
	 transition: all .2s;

	 &:hover {
	 	transform: skewY(-1deg) skewX(-10deg);
	 	// text-shadow: .5rem .7rem .5rem rgba($color-black,.2);
	 }
}
.heading-tertiary {
	font-size: 1.6rem;
	text-transform: uppercase;
}
.paragraph {
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}