.u-center-text {
	text-align: center;
	backface-visibility: hidden;
}
.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
	margin-bottom: 4rem;
}
.u-margin-bottom-big {
	margin-bottom: 8rem;
}
.u-margin-bottom-huge {
	margin-bottom: 10rem;
}