.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;
}
.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(rgba($color-primary-light,.7), rgba($color-primary-dark,.7)), url(../img/hero-2.jpg);
	background-size: cover;
	background-position: top;
	margin-top: -10rem;

	transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
	}
}
.section-tours {
	background-color: $color-grey-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}
.section-stories {
	padding: 15rem 0;
	background-color: $color-grey-light-1;
}